# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files (opcional, si son grandes)
*.pkl
*.joblib

# Sistema
.DS_Store
Thumbs.db